.logo {
    width: 60px;
    height: 60px;
}

.logo-text {
    font-size: 15px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
}

.Header-nav {
    justify-content: space-between;
}

.search-input {
    border: none;
    padding: 5px 10px;
    border-bottom: 2px solid lightgray;
    outline: none;
    margin-right: 10px;
}

.icon {
    font-size: 25px;
    margin-right: 15px;
}

.icon:hover {
    cursor: pointer;
}